@page "/auth"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<PageTitle>Autenticación</PageTitle>

<h1>Estás autenticado</h1>

<AuthorizeView>
    ¡Hola @context.User.Identity?.Name!
</AuthorizeView>
