@page "/Error"
@using System.Diagnostics

<PageTitle>Error</PageTitle>

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Ocurrió un error mientras se procesaba tu solicitud.</h2>

@if (ShowRequestId)
{
    <p>
        <strong>ID de solicitud:</strong> <code>@RequestId</code>
    </p>
}

<h3>Modo de Desarrollo</h3>
<p>
    Cambiar al entorno de <strong>Desarrollo</strong> mostrará información más detallada sobre el error que ocurrió.
</p>
<p>
    <strong>El entorno de Desarrollo no debería habilitarse en aplicaciones en producción.</strong>
    Puede resultar en la exposición de información sensible de las excepciones a los usuarios finales.
    Para depuración local, habilita el entorno de <strong>Desarrollo</strong> configurando la variable de entorno <strong>ASPNETCORE_ENVIRONMENT</strong> a <strong>Development</strong>
    y reinicia la aplicación.
</p>

@code {
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}
