@page "/"

<PageTitle>Home</PageTitle>



    

<div class="card text-bg-light mb-3" style="max-width: 18rem;">
    <div class="card-body">
        <p class="card-text" style="text-align:justify;">
            Bienvenido a Grocery Store</p>
    </div>
</div>

