@inherits LayoutComponentBase

<div class="page">

   
    <main>
        <nav class="@Black">
            <div class="container-xl">
                <!-- Logo -->
                <a class="navbar-brand" href="">
                   <h1>Grocery Store</h1>
                </a>
                <!-- Collapse -->
                <div class="collapse navbar-collapse">
                    <!-- Nav -->
                    <div class="navbar-nav mx-lg-auto">
                        <a class="nav-item nav-link active" href="inicio" aria-current="page">Home</a>
                        <a class="nav-item nav-link" href="#">Product</a>
                        <a class="nav-item nav-link" href="#">Features</a>
                        <a class="nav-item nav-link" href="#">Pricing</a>

                    </div>
                     <form class="d-flex align-items-lg-center mt-3 mt-lg-0" role="search">
                    <input class="form-control align-items-lg-center mt-3 mt-lg-0" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>

                    <!-- Right navigation -->
                    <div class="navbar-nav ms-lg-4">
                        <a class="nav-item nav-link" href="Account/Login">Sign in</a>
                    </div>
                    <!-- Action -->
                    <div class="d-flex align-items-lg-center mt-3 mt-lg-0">
                        <a href="Account/Register" class="btn btn-sm btn-primary w-full w-lg-auto">
                            Register
                        </a>
                    </div>

                </div>
            </div>
        </nav>
        <article class="content px-4">
            @Body
        </article>

    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    string themeWhite = "navbar navbar-expand-lg navbar-light bg-light px-0 py-3";
    string Black = "navbar navbar-expand-lg navbar-dark bg-dark px-0 py-3 shadow mb-5 bg-body-tertiary";

}