.fixed-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.fixed-card {
    width: 250px;
    height: 250px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
}

    .fixed-card img {
        width: 100%;
        height: 180px;
        object-fit: cover;
    }

@media (max-width: 800px) {
    .fixed-card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .fixed-card-container {
        grid-template-columns: 1fr;
    }
}