@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Confirmación de restablecimiento de contraseña</PageTitle>

<h1>Confirmación de restablecimiento de contraseña</h1>
<p>
    Por favor, revisa tu correo electrónico para restablecer tu contraseña.
</p>