@page "/Account/InvalidPasswordReset"

<PageTitle>Restablecimiento de contraseña inválido</PageTitle>

<h1>Restablecimiento de contraseña inválido</h1>
<p>
    El enlace para restablecer la contraseña no es válido.
</p>
