@page "/Account/LoginWith2fa"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Identity
@using APP2024P4.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IdentityRedirectManager RedirectManager
@inject ILogger<LoginWith2fa> Logger

<PageTitle>Autenticación de dos factores</PageTitle>

<h1>Autenticación de dos factores</h1>
<hr />
<StatusMessage Message="@message" />
<p>Tu inicio de sesión está protegido con una aplicación autenticadora. Ingresa tu código de autenticación a continuación.</p>
<div class="row">
    <div class="col-md-4">
        <EditForm Model="Input" FormName="login-with-2fa" OnValidSubmit="OnValidSubmitAsync" method="post">
            <input type="hidden" name="ReturnUrl" value="@ReturnUrl" />
            <input type="hidden" name="RememberMe" value="@RememberMe" />
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />
            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.TwoFactorCode" class="form-control" autocomplete="off" />
                <label for="two-factor-code" class="form-label">Código de autenticador</label>
                <ValidationMessage For="() => Input.TwoFactorCode" class="text-danger" />
            </div>
            <div class="checkbox mb-3">
                <label for="remember-machine" class="form-label">
                    <InputCheckbox @bind-Value="Input.RememberMachine" />
                    Recordar esta máquina
                </label>
            </div>
            <div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Iniciar sesión</button>
            </div>
        </EditForm>
    </div>
</div>
<p>
    ¿No tienes acceso a tu dispositivo autenticador? Puedes
    <a href="Account/LoginWithRecoveryCode?ReturnUrl=@ReturnUrl">iniciar sesión con un código de recuperación</a>.
</p>

@code {
    private string? message;
    private ApplicationUser user = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    [SupplyParameterFromQuery]
    private bool RememberMe { get; set; }

    protected override async Task OnInitializedAsync()
    {
        // Asegúrate de que el usuario haya pasado por la pantalla de usuario y contraseña primero
        user = await SignInManager.GetTwoFactorAuthenticationUserAsync() ??
            throw new InvalidOperationException("No se pudo cargar el usuario para la autenticación de dos factores.");
    }

    private async Task OnValidSubmitAsync()
    {
        var authenticatorCode = Input.TwoFactorCode!.Replace(" ", string.Empty).Replace("-", string.Empty);
        var result = await SignInManager.TwoFactorAuthenticatorSignInAsync(authenticatorCode, RememberMe, Input.RememberMachine);
        var userId = await UserManager.GetUserIdAsync(user);

        if (result.Succeeded)
        {
            Logger.LogInformation("El usuario con ID '{UserId}' inició sesión con autenticación de dos factores.", userId);
            RedirectManager.RedirectTo(ReturnUrl);
        }
        else if (result.IsLockedOut)
        {
            Logger.LogWarning("La cuenta del usuario con ID '{UserId}' está bloqueada.", userId);
            RedirectManager.RedirectTo("Account/Lockout");
        }
        else
        {
            Logger.LogWarning("Se ingresó un código de autenticador inválido para el usuario con ID '{UserId}'.", userId);
            message = "Error: Código de autenticador inválido.";
        }
    }

    private sealed class InputModel
    {
        [Required(ErrorMessage = "El código de autenticador es obligatorio.")]
        [StringLength(7, ErrorMessage = "El {0} debe tener al menos {2} y como máximo {1} caracteres.", MinimumLength = 6)]
        [DataType(DataType.Text)]
        [Display(Name = "Código de autenticador")]
        public string? TwoFactorCode { get; set; }

        [Display(Name = "Recordar esta máquina")]
        public bool RememberMachine { get; set; }
    }
}
