@page "/Account/ResetPasswordConfirmation"
<PageTitle>Confirmación de restablecimiento de contraseña</PageTitle>

<h1>Confirmación de restablecimiento de contraseña</h1>
<p>
    Tu contraseña ha sido restablecida. Por favor, <a href="Account/Login">haz clic aquí para iniciar sesión</a>.
</p>
