@rendermode InteractiveServer
@using Microsoft.AspNetCore.Authorization

@page "/DashBoard"
<h3>DashBoard</h3>
<div class="container flex-column ">
        
    <a href="/Listado Vehiculos">
        <div class="card m-3 text-center text-black border border-primary mb-3 d-inline-flex" style="width: 18rem;">
            <div class="card-header bg-primary">
                <i class="bi bi-car-front-fill" style="font-size: 4em;"></i>
                <h5 class="card-title">Vehiculos Disponibles</h5>
             </div>
            <div class="card-body">
                <span type="button" href="/Listado Vehiculos" class="btn btn-primary">Disponibles</span>
            </div>
        </div>
    </a>

     <a href="/Listado Vehiculos">
        <div class="card m-3 text-center text-black border border-warning mb-3 d-inline-flex" style="width: 18rem;">
            <div class="card-header bg-warning">
                <i class="bi bi-taxi-front-fill" style="font-size: 4em;"></i>
                <h5 class="card-title text-black">Rentados</h5>
            </div>           
                <div class="card-body">
            <span type="button" href="/Listado Vehiculos" class="btn btn-warning ">Rentados</span>
            </div>
        </div>
    </a>
        
     <a href="/Clientes">
        <div class="card m-3 text-center text-black border border-success mb-3 d-inline-flex" style="width: 18rem;">
            <div class="card-header bg-success">
                <i class="bi bi-person-circle" style="font-size: 4em;"></i>
                <h5 class="card-title">Clientes</h5>
            </div>
            <div class="card-body">
                <span type="button" href="/Clientes" class="btn btn-success">Clientes</span>
            </div>
        </div>
    </a>
        
</div>


@code {
   
}
