@inherits LayoutComponentBase
@layout APP2024P4.Components.Layout.MainLayout
@inject NavigationManager NavigationManager

@if (HttpContext is null)
{
    <p>Cargando...</p>
}
else
{
    @Body
}

@code {
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    protected override void OnParametersSet()
    {
        if (HttpContext is null)
        {
            // Si este código se ejecuta, estamos renderizando actualmente en modo interactivo, por lo que no hay HttpContext.
            // Las páginas de identidad necesitan configurar cookies, por lo que requieren un HttpContext. Para lograr esto,
            // debemos hacer la transición del modo interactivo a una página renderizada por el servidor.
            NavigationManager.Refresh(forceReload: true);
        }
    }
}
