@rendermode InteractiveServer
@attribute [StreamRendering]
@page "/usuarios"
@* @using Microsoft.AspNetCore.Authorization
@attribute [Authorize] *@

@if (ShowForm)
{
    @* Formularion de accion*@
    <a @onclick="btnCancelarClick" class="btn btn-outline-primary " type="button">Atras</a>
    <div class="card">
        <h5 class="card-header">@Accion Usuario</h5>
        <div class="card-body">
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" placeholder="Nombre">
            </div>
            <div class="mb-3">
                <label for="contrasena" class="form-label">Contraseña</label>
                <input type="text" class="form-control" id="contrasena" placeholder="Contraseña">
            </div>
            <div class="mb-3">
                <label for="cargo" class="form-label">Cargo</label>
                <input type="text" class="form-control" id="cargo" placeholder="Cargo">
            </div>
            <span class="btn btn-primary">Aceptar</span>
            <span class="btn btn-danger" @onclick="btnCancelarClick">Cancelar</span>
        </div>
    </div>
}
else
{
    @* Formularion de los registros*@
    <a href="/admin" class="btn btn-outline-primary " type="button"> ⬅️Volver</a>
    <div class="card mb-3 mt-3">
        <div class="card-header">
            <span class="btn btn-success" @onclick="btnAgregarClick">Agregar Usuario</span>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Contraseña</th>
                        <th scope="col">Cargo</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Wilmer Geraldo Reyes</td>
                        <td>********</td>
                        <td>Administrador</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                <span @onclick="btnEditarClick" class="btn btn-outline-warning">Editar</span>
                                <span @onclick="btnEliminarClick" class="btn btn-outline-danger">Eliminar</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}
@code {
    string Accion = "Registrar";
    bool ShowForm = false, DisableInputs = false;

    public void btnAgregarClick()
    {
        Accion = "Registrar";
        ShowForm = true;
        StateHasChanged();
        DisableInputs = false;
    }
    public void btnEditarClick()
    {
        Accion = "Editar";
        ShowForm = true;
        DisableInputs = false;
    }
    public void btnEliminarClick()
    {
        Accion = "Eliminar";
        ShowForm = true;
        DisableInputs = true;
    }
    public void btnCancelarClick()
    {
        ShowForm = false;
    }
}